<h1>
  <%= @address.line_1 %>
  <small>- <%= @address.city %>, <%= @address.zip %></small>
</h1>
<ul>
  <li>Bedrooms: <%= @property.bedrooms > 0 ? @property.bedrooms : 'Studio' %></li>
  <li>Bathrooms: <%= @property.bathrooms %></li>
  <li>Furnished: <%= @property.furnished ? 'Yes' : 'No' %>
</ul>

<address>
  <%= @address.line_1 %><br/>
  <% if @address.line_2.present? %><%= @address.line_2 %><br/><% end %>
  <%= @address.city %><br/>
  <%= @address.province %><br/>
  <%= @address.zip %>
</address>
